/* Login.css */
.login-container {
    width: 320px;
    margin: 100px auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    
}

input {
    width: 100%;
    padding: 10px;
    margin: 11px -5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
  color: white;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}
a {
    color: blue;
    text-decoration: none;
}
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}